.heroContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 131px;
  }
.intro {
    max-width: 500px ;
}
.title{
    font-size: 44px;
    font-weight: 700;
    line-height: 57.42px;

    margin-top: 0px;
    margin-bottom: 13px;
}

.about {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.links{
  display: flex;
  justify-content: flex-start;
}

.profilePic {
    /* max-width: 230px;
    width: 100%;
    height: auto; */
    max-width: 230px;
    align-self: center;  /* this is what makes img not stretch inside flex */
}

/* for mobile screens */
@media screen and (max-width: 700px) {
  .heroContainer {
    flex-direction: column; /* change the direction of the container */
    justify-content: center;
    margin-bottom: 100px;
  }

  .links {
    /* change the direction of the container */
    /* flex-direction: column;  */
    /* margin-left: auto;
    margin-right: auto; */
    display: block;
    justify-content: start;

    margin-bottom: 21px;
  }

  .links > * {
    margin-bottom: 4px;
  }
  

  .profilePic {
    max-width: 220px;
    align-self: flex-start;
    
    /* align-self: flex-end;
    position: relative;
    top: -60px;
    z-index:0; */
  } 
}