.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 9vh;

    margin-bottom: 110px;
}

.logo {
    font-size: 23px;
    font-weight: 700;
    line-height: 130.5%;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.links li{
    list-style: none;
    font-size: 12px;
}

.links li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.burger {
    grid-area: burger;
    display: none;
    background-color: transparent;
    border: none;
    padding: 0;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0 0 0;

}

.links-active {
    transform: translateX(0%);
}

@media screen and (max-width: 970px) {
    .nav {
        /* display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 9vh; */
        margin-bottom: 70px;
    }

    .links {
        position: absolute;
        right: 0px;
        height: 91vh;
        top: 9vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        background:rgba(255,255,255,0.5);
        backdrop-filter: blur(16px);
        width: 100%;
        margin: 0;
        padding: 30px 3.5% 30px 0;
    }

    .links li{
        margin-top: 20px;
        font-size: 14px;
    }

    .burger {
        display: block;
    } 


}