hr {
    border: 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #fff;

    margin: 5px 0 18px 0;
}

.section {
    max-width: 831;
    width: 87%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

.sectionTitle {
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}

/* for mobile screens */
@media screen and (max-width: 600px) {
    .section {
        width: 93%;
    }
  
  }